
.advantages {
  margin-bottom: 41px;
  padding-top: 40px;
  padding-bottom: 285px;
  background-image: linear-gradient(174deg, #ffffff, #ffffff 249px, #f2f2f2 249px, #f2f2f2);
}

.advantages__wrapper {
  padding-bottom: 0;
}

.advantages__paragraph {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-bottom: 31px;
  color: #283645;
}

.advantages__list {
  .reset_ul();
  width: 283px;
  margin: 0 auto;
  margin-top: 118px;
}

.advantages__item {
  margin-bottom: 32px;
}

.advantages__item:last-child {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -317px;
    left: 62px;
    width: 157px;
    height: 300px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 50% -105%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: cover;
    }
  }
}

.advantages__title {
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.advantages__description {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.advantages__description br {
  display: none;
}

@media (min-width: 660px) {
  .advantages {
    margin-top: 20px;
    margin-bottom: 95px;
    padding-bottom: 0;
    background-image: linear-gradient(175.5deg, #ffffff, #ffffff 274px, #f2f2f2 274px, #f2f2f2);
  }

  .advantages__wrapper {
    padding-bottom: 8px;
  }

  .advantages__paragraph {
    font-size: 40px;
    margin-bottom: 2px;

    &:nth-of-type(1) {
      padding: 0;
      margin-bottom: 10px;
      width: 620px;
    }

    &:nth-of-type(2) {
      width: 380px;
      margin: 0 auto;
      line-height: 47px;
    }
  }

  .advantages__list {
    box-sizing: content-box;
    width: 310px;
    padding-left: 310px;
    margin-top: 125px;
  }

  .advantages__item {
    margin-bottom: 35px;
  }

  .advantages__title {
    text-align: left;
    width: 240px;
  }

  .advantages__description {
    text-align: left;
    padding: 0;
  }

  .advantages__description br {
    display: block;
  }

  .advantages__item:last-child::before {
    top: -360px;
    left: -310px;
    width: 270px;
    height: 486px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-size: 267px auto;
    background-repeat: no-repeat;
    background-position: 50% -6%;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }
  }
}

@media (min-width: 960px) {
  .advantages {
    margin-bottom: 0;
    background-image: linear-gradient(175.5deg, #ffffff, #ffffff 379px, #f2f2f2 379px, #f2f2f2);
  }

  .advantages__paragraph {
    font-size: 50px;
    line-height: 56px;

    &:nth-of-type(1) {
      width: 100%;
      text-align: center;
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 2px;
    }

    &:nth-of-type(2) {
      width: 456px;
      line-height: 60px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .advantages__list {
    display: flex;
    justify-content: flex-start;
    width: 884px;
    margin: 0 auto;
    padding-top: 402px;
    padding-left: 0;
  }

  .advantages__item {
    position: relative;
    width: 242px;
    margin: 0;
    margin-right: 77px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &:nth-of-type(1)::before {
      content: "";
      position: absolute;
      top: -368px;
      left: 25px;
      width: 188px;
      height: 382px;
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-size: 292px 300px;
      background-repeat: no-repeat;
      background-position: 47% 50%;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &:nth-of-type(2)::before {
      content: "";
      position: absolute;
      top: -368px;
      left: 29px;
      width: 188px;
      height: 382px;
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-size: 291px auto;
      background-repeat: no-repeat;
      background-position: 47% 50%;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &:nth-of-type(3)::before {
      content: "";
      position: absolute;
      top: -368px;
      left: 29px;
      width: 188px;
      height: 382px;
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-size: 291px auto;
      background-repeat: no-repeat;
      background-position: 47% 50%;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }

    &:nth-of-type(1)::after {
      content: "";
      position: absolute;
      top: -36px;
      left: -30px;
      width: 300px;
      height: 9px;
      background-image: url("../img/shadow.png");
      background-size: 300px 17px;
      background-repeat: no-repeat;
      background-position: 50% 1px;
    }

    &:nth-of-type(2)::after {
      content: "";
      position: absolute;
      top: -35px;
      left: -30px;
      width: 300px;
      height: 9px;
      background-image: url("../img/shadow.png");
      background-size: 300px 17px;
      background-repeat: no-repeat;
      background-position: 50% 1px;
    }

    &:nth-of-type(3)::after {
      content: "";
      position: absolute;
      top: -35px;
      left: -30px;
      width: 300px;
      height: 9px;
      background-image: url("../img/shadow.png");
      background-size: 300px 17px;
      background-repeat: no-repeat;
      background-position: 50% 1px;
    }
  }

  .advantages__title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__description br {
    display: none;
  }
}
