.contacts {
  position: relative;
  z-index: 3;
  padding-bottom: 100px;
  background-image: linear-gradient(192deg, #ffffff, #ffffff 395px, transparent 395px, transparent),
    linear-gradient(168deg, #ffffff, #ffffff 395px, transparent 395px, transparent);
  background-size: 50% 446px, 50% 446px;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 100% 0;
}

.contacts__manifest {
  margin: 0 auto;
  margin-bottom: 37px;
  padding: 0;
  width: 280px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #283645;
}

.contacts__addres {
  .reset_ul();
  margin: 0 auto;
}

.contacts__content {
  margin-bottom: 23px;

  &:nth-of-type(2) {
    margin-bottom: 27px;
  }
}

.contacts__name {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #283645;
  margin-bottom: 5px;
}

.contacts__item {
  margin: 0;
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-decoration: none;
  color: #d22856;
}

.contacts__street {
  padding-top: 10px;
}

@media (min-width: 660px) {
  .contacts__manifest {
    width: 370px;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 45px;
  }

  .contacts__addres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__content {
    width: 320px;
    margin-bottom: 47px;
  }

  .contacts__name {
    margin-bottom: 10px;
  }
}

@media (min-width: 960px) {
  .contacts__manifest {
    width: 470px;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 58px;
  }

  .contacts__content {
    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 3;
    }

    &:nth-of-type(3) {
      order: 2;
    }
  }

  .contacts__name {
    margin-bottom: 25px;
  }
}
