@media (min-width: 660px) {
  .copyright {
    padding-top: 20px;
  }

  .copyright__paragraf {
    margin: 0;
    padding: 0;
  }

  .copyright__logo {
    line-height: 18px;
    font-weight: normal;
    color: #283645;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
  }

  .copyright__logo svg {
    position: absolute;
    top: -12px;
    left: 97px;
    fill: #d22856;

    &:hover,
    &:focus {
      fill: #283645;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
