
.download {
  margin: 0 auto;
  background-color: #1d2631;
  margin-top: -70px;

  &__access {
    background-color: #1d2631;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 29px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
}

@media (min-width: 660px) {
  .download {
    width: 100%;
    min-height: 727px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -108px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: -20px 100%, 55% 50%;

    &__access {
      background-color: transparent;
      font-size: 18px;
      font-weight: normal;
      margin-top: 32px;
      padding: 0;
      width: 308px;
    }
  }
}

@media (min-width: 960px) {
  .download {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.download__paragraf {
  margin-top: -1px;
  margin-bottom: 0;
  width: 280px;
  min-height: 371px;
  padding-top: 95px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0% 100%, 50% 50%;
}

@media (min-width: 660px) {
  .download__paragraf {
    background-image: none;
    margin-top: 0px;
    margin-left: 25px;
    padding-top: 202px;
    min-height: 0px;
    width: 205px;
    font-size: 40px;
    line-height: 47px;
  }
}

.button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 33px;
  padding-bottom: 2px;
  width: 280px;
  text-decoration: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  line-height: 48px;
  border: 2px solid #ffffff;
  border-radius: 24px;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: #f1becc;
  }
}

@media (min-width: 660px) {
  .button {
    margin-top: 32px;
    margin-left: 0;
    width: 300px;
    margin-bottom: 47px;
  }
}

.icon-list {
  .reset_ul();
  background-color: #1d2631;
  display: flex;
  flex-wrap: wrap;
  width: 232px;
  margin: 0 auto;
  margin-left: 56px;

  &__item {
    margin-right: 32px;

    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
}

@media (min-width: 660px) {
  .icon-list {
    background-color: transparent;
    margin-left: 48px;
  }
}

.icon-list--ios {
  width: 47px;
  height: 56px;
  background: url("../img/logo-apple.svg") no-repeat 50% 50%;
}

.icon-list--android {
  width: 47px;
  height: 56px;
  margin-top: 3px;
  background: url("../img/logo-android.svg") no-repeat 50% 50%;
}

.icon-list--windows {
  width: 47px;
  height: 56px;
  margin-top: 4px;
  background: url("../img/logo-microsoft.svg") no-repeat 50% 50%;
}
