.container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 660px) {
  .container {
    width: 660px;
  }
}

@media (min-width: 960px) {
  .container {
    width: 960px;
    padding: 0 10px;
  }
}

.download {
  background-color: #1d2631;
  margin-top: -70px;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 42% 38.4%, 50% 1%;
  background-size: 260px 292px, 100% 460px;

  &__access {
    background-color: #1d2631;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 30px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
}

@media (min-width: 660px) {
  .download {
    min-height: 727px;
    margin-top: -108px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: -35px 99.8%, 52% 0%;
    background-size: 700px auto, 1200px 729px;

    &__access {
      background-color: transparent;
      font-size: 18px;
      font-weight: normal;
      margin-top: 32px;
      padding: 0;
      width: 308px;
      margin-left: -13px;
    }
  }
}

@media (min-width: 960px) {
  .download {
    width: 100%;
    margin-bottom: 28px;
    min-height: 849px;
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 100%, 50.1% 2%;
    background-size: 830px auto, 2560px auto;

    &__access {
      padding-left: 5px;
    }
  }
}

.download__paragraf {
  margin-top: -1px;
  margin-bottom: 346px;
  width: 280px;
  padding-top: 95px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 24px;
}

@media (min-width: 660px) {
  .download__paragraf {
    background-image: none;
    margin-top: 0;
    margin-bottom: 35px;
    padding-left: 30px;
    padding-top: 202px;
    min-height: 0;
    width: 205px;
    font-size: 40px;
    line-height: 47px;
  }
}

@media (min-width: 960px) {
  .download__paragraf {
    width: 240px;
    font-size: 50px;
    line-height: 58px;
    padding-left: 21px;
    padding-top: 219px;
    margin-bottom: 54px;
  }
}

.button {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 33px;
  padding-bottom: 2px;
  width: 280px;
  text-decoration: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  line-height: 48px;
  border: 2px solid #ffffff;
  border-radius: 24px;

  &:hover {
    background-color: #ffffff;
    color: #d22856;
  }

  &:active {
    color: #f1becc;
  }
}

@media (min-width: 660px) {
  .button {
    margin-top: 32px;
    margin-left: -14px;
    width: 300px;
    margin-bottom: 47px;
  }
}

@media (min-width: 960px) {
  .button {
    font-size: 21px;
    margin-left: -10px;
    margin-bottom: 67px;
  }
}

.icon-list {
  .reset_ul();
  background-color: #1d2631;
  display: flex;
  flex-wrap: wrap;
  width: 232px;
  margin: 0 auto;
  margin-left: 38px;

  &__item {
    margin-right: 32px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media (min-width: 660px) {
  .icon-list {
    background-color: transparent;
    margin-left: 33px;
  }
}

@media (min-width: 960px) {
  .icon-list {
    margin-left: 38px;
    margin-bottom: 52px;
  }
}

.icon-list--ios {
  width: 47px;
  height: 56px;
  background: url("../img/logo-apple.svg") no-repeat 50% 50%;
}

.icon-list--android {
  width: 47px;
  height: 56px;
  margin-top: 3px;
  background: url("../img/logo-android.svg") no-repeat 50% 50%;
}

.icon-list--windows {
  width: 47px;
  height: 56px;
  margin-top: 4px;
  background: url("../img/logo-microsoft.svg") no-repeat 50% 50%;
}
