.form__histori {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.user__list {
  box-sizing: border-box;
}

.personal {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;

  &__wrapper {
    margin: 0;
    margin-top: 14px;
  }

  & label {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d22856;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__surname {
    margin: 0;
    width: 256px;
    height: 59px;
    padding-left: 20px;
    color: #283645;
    font-weight: normal;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
  }

  &__name {
    margin: 0;
    width: 256px;
    height: 59px;
    padding-left: 20px;
    color: #283645;
    font-weight: normal;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
  }

  &__middle-name {
    margin: 0;
    width: 256px;
    height: 59px;
    padding-left: 20px;
    color: #283645;
    font-weight: normal;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
  }
}

.progress {
  border: none;
  margin: 0;
  padding: 0;

  &__title {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d22856;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.user-contact {
  border: none;
  margin: 0;
  padding: 0;
}

.app {
  border: none;
  margin: 0;
  padding: 0;
}

.post {
  border: none;
  margin: 0;
  padding: 0;
}
