.form {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  margin-top: 13px;
}

@media (min-width: 660px) {
  .form {
    width: 660px;
    margin-top: 46px;
    display: flex;
    flex-wrap: wrap;
  }
}
