.map {
  position: relative;
  overflow: hidden;
  margin-top: -35px;
  height: 200px;
  margin-bottom: 20px;
}

.map__image {
  position: absolute;
  top: -445px;
  left: 0;
  width: 320px;
  height: 645px;
  z-index: 1;
}

.map__google {
  margin: 0 auto;
  width: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

@media (min-width: 660px) {
  .map {
    margin-top: -69px;
    margin-bottom: 40px;
    height: 371px;
  }

  .map__image {
    top: -350px;
    left: -20px;
    width: 700px;
    height: 848px;
  }

  .map__google {
    position: absolute;
    top: 0;
    left: 0;
    height: 375px;
    z-index: 2;
  }
}

@media (min-width: 960px) {
  .map {
    margin-top: -101px;
    margin-bottom: 67px;
    height: 500px
  }

  .map__image {
    top: -295px;
    left: -120px;
    width: 1200px;
    height: 1002px;
  }

  .map__google {
    height: 500px;
  }
}
