
.page-header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 14px;
  line-height: 32px;
}

.page-header__wrapper {
  min-width: 320px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .page-header__wrapper {
    padding: 0;
  }
}

@media (min-width: 960px) {
  .page-header {
    position: absolute;
    width: 100%;
    top: 0;
  }

  .page-header__wrapper {
    width: 960px;
    padding-top: 24px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.page-header--color-menu {
  background-color: #283645;
}

@media (min-width: 960px) {
  .page-header--color-menu {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.page-header--nojs {
  background-color: #283645;
}

.page-header__logo {
  display: block;
  min-height: 63px;
}

@media (min-width: 320px) {
  .page-header__logo {
    width: 100px;
  }
}

@media (min-width: 660px) {
  .page-header__logo {
    width: 170px;
    min-height: 109px;
    padding-top: 26px;
    padding-left: 20px;
  }
}

@media (min-width: 960px) {
  .page-header__logo {
    padding-left: 0;
    padding-top: 0;
    min-height: 85px;
  }
}

.page-header__logo-image {
  width: 75px;
  height: 23px;
  padding-top: 20px;
  padding-left: 20px;
}

@media (min-width: 320px) {
  .page-header__logo-image {
    box-sizing: content-box;
  }
}

@media (min-width: 660px) {
  .page-header__logo-image {
    width: 147px;
    height: auto;
    padding-top: 2px;
    padding-left: 2px;
  }
}

@media (min-width: 960px) {
  .page-header__logo-image {
    width: 147px;
  }
}
