.price {
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom right, #ffffff, #ffffff 64px, #f2f2f2 64px, #f2f2f2);
  background-size: 100% 64px;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.price__wrapper {
  margin: 0 auto;
}

.price__toggles {
  margin: 0 auto;
  padding-bottom: 62px;
}

@media (min-width: 660px) {
  .price {
    padding-bottom: 30px;
    margin-bottom: 44px;
  }

  .price__wrapper {
    padding: 0 20px;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: 960px) {
  .price {
    background-color: #f2f2f2;
    background-image: linear-gradient(to bottom right, #ffffff, #ffffff 88px, #f2f2f2 88px, #f2f2f2);
    background-size: 100% 88px;
    background-repeat: no-repeat;
    padding-top: 162px;
    padding-bottom: 54px;
    margin-bottom: 64px;
  }
}
