.progress {
  border: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;

  &__title {
    display: block;
    margin: 0;
    margin-bottom: 42px;
    padding-top: 40px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d22856;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
  }

  &__wrapper {
    padding-left: 89px;
    margin-bottom: 52px;
  }

  &__mark {
    position: relative;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #283645;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    &::before {
      content: "";
      position: absolute;
      top: -7px;
      left: -69px;
      width: 35px;
      height: 35px;
      background-color: #ffffff;
      border: 2px solid #e5e5e5;
    }

    &:hover::before {
      border: 2px solid #283645;
    }

    &:active::before {
      border: 2px solid #d22856;
    }
  }

  &__btn {
    display: none;
  }
}

.progress .btn-1:checked ~ .progress .progress__mark[for="selfie-shark"]::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -69px;
  width: 35px;
  height: 35px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
