.slider-price {
  &__first-column {
    display: none;

    &__title {
      display: none;
    }
  }

  &__second-column {
    display: none;

    &__title {
      display: none;
    }
  }

  &__third-column {
    &__title {
      width: 280px;
      font-size: 18px;
      line-height: 30px;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #283645;

      & span {
        display: block;
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
      }
    }
  }

  &__fourth-column {
    display: none;

    &__title {
      display: none;
    }
  }
}
