.slider {
  &__list {
    .reset_ul();
    margin-bottom: 33px;
  }

  &__item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__author-name {
    margin: 0;
    margin-bottom: 13px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    font-style: normal;

    &__profession {
      display: none;
    }
  }

  &__text {
    margin: 0 auto;
    width: 280px;
    text-align: center;
    color: #283645;
    line-height: 30px;
    font-weight: normal;
  }

  &__toggles {
    display: flex;
    justify-content: space-between;
    width: 62px;
    height: 15px;
  }

  &__toggle {
    position: relative;
    display: block;
    background-color: transparent;
    border: none;
    width: 12px;
    height: 12px;

    &::before {
      content: "";
      box-sizing: content-box;
      position: absolute;
      width: 6px;
      height: 6px;
      border: 3px solid #ffffff;
      border-radius: 50%;
      background-color: #283645;
      opacity: 0.3;
      cursor: pointer;
    }

    &:nth-of-type(1)::before {
      top: 0;
      left: 0;
    }

    &:nth-of-type(2)::before {
      top: 0;
      left: 0;
    }

    &:nth-of-type(3)::before {
      top: 0;
      left: 0;
    }

    &:hover::before,
    &:focus::before, {
      opacity: 0.6;
    }

    &:active::before {
      opacity: 0.1;
    }

    &--active {
      background-color: transparent;
      border: none;

      &::before {
        content: "";
        box-sizing: content-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 6px;
        height: 6px;
        border: 3px solid #283645;
        border-radius: 50%;
        background-color: #ffffff;
        cursor: pointer;
        opacity: 1;
      }
    }

    &--left,
    &--right {
      display: none;
    }
  }
}

@media (min-width: 660px) {
  .slider {
    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    &__author-name {
      font-size: 20px;
      margin: 0 auto;

      &__profession {
        display: block;
        font-size: 14px;
        font-weight: normal;
        line-height: 33px;
        color: #283645;
      }
    }

    &__text {
      font-size: 18px;
      width: 620px;
      margin-bottom: 35px;
    }
  }
}

@media (min-width: 960px) {
  .slider {
    &__list {
      margin: 0;
    }

    &__text {
      width: 690px;
      padding-top: 127px;
      margin-bottom: 36px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: 311px 14px;
    }

    &__author-name {
      font-size: 24px;

      &__profession {
        font-size: 18px;
        line-height: 34px;
      }
    }

    &__toggles {
      position: relative;
    }

    &__toggle {
      display: none;

      &--left,
      &--right {
        display: block;
        border: none;
        border-left: 2px solid #283645;
        border-bottom: 2px solid #283645;
        position: absolute;
        width: 30px;
        height: 30px;
        top: -157px;
        background-color: transparent;
        opacity: 0.3;
        cursor: pointer;

        &:hover,
        &:focus {
          opacity: 0.6;
        }

        &:active {
          opacity: 0.1;
        }
      }

      &--left {
        left: -432px;
        transform: rotate(45deg);
      }

      &--right {
        left: 467px;
        transform: rotate(225deg);
      }
    }
  }
}
