.slider-price {
  position: relative;
  overflow: hidden;
  width: 320px;
  padding-top: 130px;

  &__option {
    position: absolute;
    top: 240px;
    left: 40px;

    &__first-column {
      font-weight: normal;
      line-height: 30px;
      color: #283645;
      text-transform: uppercase;
      padding-bottom: 28px;
    }
  }

  &__yes {
    width: 29px;
    height: 27px;
    margin-left: 230px;
    margin-top: 14px;
    margin-bottom: 13px;
  }

  &__no {
    width: 27px;
    height: 26px;
    margin-left: 231px;
    margin-top: 3px;
  }

  &__list {
    border-collapse: collapse;
    border-spacing: 0;
    width: 840px;

    &--left {
      transform: translateX(20px);
    }

    &--right {
      transform: translateX(-540px);
    }

    &--center {
      transform: translateX(-260px);
    }
  }

  /*&__first-column {
    //display: block;
    font-weight: normal;
    line-height: 30px;
    color: #283645;
    text-transform: uppercase;
    border: none;

    &--filter {
      position: absolute;
      top: 112px;
      left: 303px;
    }

    &--smile {
      position: absolute;
      top: 173px;
      left: 303px;
    }

    &--comment {
      position: absolute;
      top: 234px;
      left: 303px;
    }

    &__title {
      display: none;
    }
  }*/

  &__second-column {
    border-bottom: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    width: 280px;

    &__title {
      width: 280px;
      border-left: 2px solid #e5e5e5;
      border-right: 2px solid #e5e5e5;
      padding-top: 16px;
      font-size: 18px;
      line-height: 30px;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #283645;

      & span {
        display: block;
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
        padding-top: 1px;
        padding-bottom: 20px;
      }
    }
  }

  &__third-column {
    border-bottom: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    width: 280px;

    &__title {
      width: 280px;
      font-size: 18px;
      line-height: 34px;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #283645;
      border-right: 2px solid #e5e5e5;

      & span {
        display: block;
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
      }
    }
  }

  &__fourth-column {
    border-bottom: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    width: 280px;

    &__title {
      width: 280px;
      font-size: 18px;
      line-height: 30px;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #283645;
      border-right: 2px solid #e5e5e5;

      & span {
        display: block;
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
      }
    }
  }
}
